*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}
.navbar a:hover
{
    color: #0ef;

}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background:#050c14;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}  
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:  .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h2{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-wal {
    width: 500px;          
    height: 500px;
    border-radius: 100%;
    overflow: hidden;   
    padding: 10px;  
    margin-left: 50px;
    
    background: linear-gradient(
        135deg,
        #00f2ff,
        #00ffcc,
        #7f5cff,
        #ff4ecd
    );
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,242,255,0.6),
    0 0 40px rgba(127,92, 255, 0.5)
    ;
}

.home-wal img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover; 
    background:#050c14;  
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;

}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
}
.btn-box{
    display: inline-block;
    margin: 30px;
}



.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #050c14;;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef;


}
.btn-group{
  display: flex;
  gap: 20px;          
  margin-top: 20px;
}

.btn {
  padding: 12px 25px;
  background: #38f2d7;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #2bd4bd;
}

.btn-box:hover {

box-shadow: 0 0 5px cyan,
0 0 25px cyan, 
0 0 50px cyan,
0 0 100px cyan, 
0 0 200px cyan

}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-columns: 50%;
    align-items: center;
    background:#081b29;
    gap: 1.5rem;
    padding-left: 20px;
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 120px;
    flex: 1;
}
.about-image img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}
.about-image img{
    width: 450px;
    height: 450px;
    padding: 10px;
   
    border-radius: 100%;
    overflow: hidden;
    margin-left: 50px;
    background: linear-gradient(135deg,
    #00f2ff,#00ffcc,#7f5cff,#ff4ecd);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,242,255,0.6),
    0 0 40px rgba(127,92, 255, 0.5);



}

.about-image{
    padding-top: 10px;
    height: 300px;
    width: 300px;
    padding-bottom: 500px;
    margin-left: -70px;
    
}
.about-text{
    margin-left: 200px;
    margin-top: 50px;
}

.about-text h2{
    font-size: 60px;

}
.about-text h2 span{
    color: #0ef;

}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;

}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 6rem;
    
}
.education {
  background:#050c14;
  padding:120px;
  color: #fff;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #00ffe5;
  box-shadow: 0 0 15px #00ffe5;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}


.timeline-dot {
  position: absolute;
  left: 50%;
  width: 18px;
  height: 18px;
  background: #00fff7;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px #00fff7;
  z-index: 10;
}


.timeline-date {
  position: absolute;
  left: 50%;
  top:-30px;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  color: #ff4ecd;
  z-index: 20;
}
.timeline-item:nth-child(odd) .timeline-date {
  left: calc(50% - 60px);  
  transform: translateX(-100%);
  text-align: right;
}
.timeline-item:nth-child(even) .timeline-date {
  left: calc(50% + 60px);   
  transform: translateX(0);
  text-align: left;
}


.timeline-content {
    position: relative;
  width: 45%;
  padding: 20px 25px;
  background: #000;;
  border-radius: 15px;
  border: 2px solid #00fff7;
  box-shadow: 0 0 20px rgba(0, 255, 247, 0.4);
  color: #fff;
}


.timeline-item:nth-child(odd) .timeline-content {
  margin-left: 0;
  margin-right: auto;
}

.timeline-item:nth-child(even) .timeline-content {
  margin-left: auto;
  margin-right: 0;
}

.timeline-content h3 {
  margin-bottom: 10px;
  color:#7f5cff;
}

.timeline-content p {
  font-size: 14px;
  color:white;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--big-color);
}

.timeline-item:nth-child(odd) .timeline-date {
  left: calc(50% - 60px);   
  transform: translateX(-100%);
  text-align: right;
}
.timeline-item:nth-child(even) .timeline-date {
  left: calc(50% + 60px);   
  transform: translateX(0);
  text-align: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top left, #081b29, #050c14);
    color: #fff;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;

}

h1 {
    text-align: center;
    font-size: 42px;
    
}

h1 span {
    color: #00e5ff;
    
}
.skills-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}
.skills-wrapper{
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}


.skill {
    margin-bottom: 25px;
    
}

.skill span {
    display: block;
    margin-bottom: 8px;
}

.bar {
    height: 8px;
    background: #1a1a1a;
    border-radius: 5px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background: #00e5ff;
    border-radius: 5px;
}

.html { width: 90%; }
.css { width: 80%; }
.js { width: 85%; }
.python { width: 70%; }
.java { width: 65%; }
.sql { width: 75%; }


.circle-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
}

.circle {
    width: 120px;
    height: 120px;
    position: relative;
}

.circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    cx: 60;
    cy: 60;
    r: 50;
}

.bg {
    stroke: #1a1a1a;
}

.progress {
    stroke: #00e5ff;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.circle-box p {
    text-align: center;
    margin-top: 10px;
}



.projects {
    padding: 150px 100px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    background:#050c14;
    margin-top: 150px;
    margin-bottom: 100px;
}


.projects h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 100px;
    color:beige
}

.projects h2 span {
    color:#ff4ecd 
}


.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
.portfolio-content .гом,
.portfolio-content .row {
    position: relative;
    width: 400px;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.portfolio-content .гом:hover,
.portfolio-content .row:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.portfolio-content img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    display: block;
    display: flex;
   
    
}
.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s;
}
.portfolio-content .гом:hover .layer,
.portfolio-content .row:hover .layer {
    transform: translateY(0);
}
.layer h5 {
    margin: 0 0 10px;
    font-size: 20px;
    color:blueviolet
}
.layer p {
    font-size: 14px;
    line-height: 1.5;

}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.contact-text h2{
    margin: 50px 0px;
    font-size: 100px;
    line-height: 1;
    text-align:center;
}
.contact-text h2 span{
    color: #00e5ff;
}
.contact-text h4{
    margin: 30px 0px;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
    list-style: none;
}
.contact-list li{
    margin-bottom: 10px;
}
.contact-list i{
    color: #00fff7;
    font-size: 20px;
    margin-right: 10px;
}
.contact-list a{
    color: #fff;
    text-decoration: none;
}
.contact-list a:hover{
    color: #00fff7;
}
.contact-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid #00fff7;
    border-radius: 50%;
    font-size: 22px;
    color: #00fff7;
    margin-right: 15px;
    text-decoration: none;
}
.contact-icons a i{
    line-height: 1;
}
.contact-icons a:hover{
    background: #00fff7;
    color: #050c14;
    box-shadow: 0 0 20px #00fff7;
}
.contact-form form{
    position: relative;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 18px;
    background:#fff;
    color:#050c14;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #00fff7;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}
.contact-form .send:hover{
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan,
                0 0 50px cyan,
                0 0 100px cyan;
}
@keyframes slideLeft{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .portfolio-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .skills-wrapper {
        grid-template-columns: 1fr;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
